// 全局样式
body {
  font-family: var(--van-base-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

// 滚动条样式
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background: var(--van-text-color-2);
  border-radius: 2px;
}

::-webkit-scrollbar-track {
  background: transparent;
} 